<ion-content class="ion-padding">
  <h1>Joc <code>{{ gameId }}</code></h1>
  <app-error-banner [error]="error$ | async"></app-error-banner>

  <ion-card *ngIf="view$ | async as view">
    <ion-card-header>
      <ion-card-title>State (turn {{ view.current }}, phase {{ view.phase }})</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <pre>{{ formatJson(view) }}</pre>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header><ion-card-title>Trimite Action</ion-card-title></ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-list>
          <ion-item>
            <ion-label>Type</ion-label>
            <ion-select formControlName="type" interface="popover">
              <ion-select-option *ngFor="let t of actionTypes" [value]="t">{{ t }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">playerIdx</ion-label>
            <ion-input type="number" formControlName="playerIdx" required></ion-input>
          </ion-item>
          <ion-item *ngIf="form.value.type === 'DISCARD'">
            <ion-label position="stacked">pieceId</ion-label>
            <ion-input type="number" formControlName="pieceId" required></ion-input>
          </ion-item>
          <ion-item *ngIf="form.value.type === 'TAKE_DISCARD'">
            <ion-label position="stacked">discardIdx</ion-label>
            <ion-input type="number" formControlName="discardIdx" required></ion-input>
          </ion-item>
        </ion-list>
        <ion-button type="submit" expand="block" [disabled]="form.invalid">Send</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <p class="links"><a routerLink="/lobby">← Înapoi la lobby</a></p>
</ion-content>
