<ion-content class="ion-padding">
  <h1>Setează parolă nouă</h1>
  <app-error-banner [error]="error$ | async"></app-error-banner>
  <div *ngIf="done" class="success-banner">
    Parola a fost schimbată. <a routerLink="/login">Login</a>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!done">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Token</ion-label>
        <ion-input formControlName="token" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Parolă nouă (minim 10)</ion-label>
        <ion-input type="password" formControlName="newPassword" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="form.invalid">Resetează</ion-button>
  </form>
</ion-content>
